body{
    font-family: "Baloo Bhai 2", sans-serif; 
    background-color: rgb(242, 166, 166);
    font-weight: 700;        
 display: flex;
    flex-direction: column;
justify-content: space-evenly;
   margin-left: 1rem;
}
.image img{
    width: 18rem;
   padding-left: 4rem;
}
header{
    box-shadow: 1px 1px 6px rgb(183, 77, 77);
}
header{
    box-shadow: 1px 1px 6px rgb(183, 77, 77);
}
.cursive{
    font-family: "Pacifico", cursive;
}
.website{
    background-color: rgb(244, 200, 200);
    margin-inline: 5rem;
    margin-block: 10px;
    box-shadow: 1px 1px 6px rgb(183, 77, 77);
}

@media screen and (max-width: 800px) {
    .website{
        margin-inline: 0px;
    }
    .image img{
        width: 20rem;
        padding-left: 0rem;
    }
    .banner{
        flex-direction: column;
    }
    .hero{
        flex-direction: column-reverse;
        padding: 5px;
    }
}
@media screen and (max-width: 400px) {
    nav{
        font-size: 10px;
    }

}
